USE [REVIEW_SERVICE]
GO
/****** Object:  StoredProcedure [dbo].[USP_MODERATOR_QUEUE_OPEN]    Script Date: 17-07-2026 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[USP_MODERATOR_QUEUE_OPEN]
(
    @REVIEW_PAGESIZE INT = 50,
    @REVIEW_PAGE    INT = 1,
    @PLAN_PAGESIZE  INT = 50,
    @PLAN_PAGE      INT = 1
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @R_OFF INT = (@REVIEW_PAGE - 1) * @REVIEW_PAGESIZE;
    DECLARE @P_OFF INT = (@PLAN_PAGE - 1) * @PLAN_PAGESIZE;

    ;WITH RF AS (
        SELECT R.*
        FROM dbo.REVIEW_REPORT R
        WHERE R.STATUS = N'OPEN'
    )
    SELECT *,
           COUNT(*) OVER() AS TOTALCOUNT
    FROM RF
    ORDER BY CREATEDDATE DESC
    OFFSET @R_OFF ROWS FETCH NEXT @REVIEW_PAGESIZE ROWS ONLY;

    ;WITH PC AS (
        SELECT P.*
        FROM dbo.PLAN_CONTENT_REPORT P
        WHERE P.STATUS = N'OPEN'
    )
    SELECT *,
           COUNT(*) OVER() AS TOTALCOUNTPLAN
    FROM PC
    ORDER BY CREATEDDATE DESC
    OFFSET @P_OFF ROWS FETCH NEXT @PLAN_PAGESIZE ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_PLAN_CONTENT_REPORT_RESOLVE]    Script Date: 17-07-2026 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[USP_PLAN_CONTENT_REPORT_RESOLVE]
(
    @REPORTID          BIGINT,
    @MODERATORUSERID    BIGINT,
    @NEWSTATUS         NVARCHAR(20),
    @MODERATORNOTE     NVARCHAR(1000) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    IF @NEWSTATUS NOT IN (N'RESOLVED', N'DISMISSED')
    BEGIN
        SELECT 0 AS SUCCESS, N'NEWSTATUS invalid' AS MESSAGE;
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM dbo.PLAN_CONTENT_REPORT WHERE REPORTID = @REPORTID)
    BEGIN
        SELECT 0 AS SUCCESS, N'Report not found' AS MESSAGE;
        RETURN;
    END

    UPDATE dbo.PLAN_CONTENT_REPORT
    SET STATUS          = @NEWSTATUS,
        RESOLVEDDATE    = SYSUTCDATETIME(),
        MODERATORUSERID = @MODERATORUSERID,
        MODERATORNOTE   = @MODERATORNOTE
    WHERE REPORTID = @REPORTID;

    SELECT 1 AS SUCCESS, N'Plan moderation row closed' AS MESSAGE;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_PLAN_CONTENT_REPORT_SUBMIT]    Script Date: 17-07-2026 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[USP_PLAN_CONTENT_REPORT_SUBMIT]
(
    @PLANID            BIGINT,
    @REPORTEDBYUSERID  BIGINT,
    @REASONCODE        NVARCHAR(50),
    @DETAIL            NVARCHAR(2000) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        INSERT INTO dbo.PLAN_CONTENT_REPORT
        (PLANID, REPORTEDBYUSERID, REASONCODE, DETAIL, STATUS, CREATEDDATE)
        VALUES (@PLANID, @REPORTEDBYUSERID, @REASONCODE, @DETAIL,
                N'OPEN', SYSUTCDATETIME());

        DECLARE @PR BIGINT = SCOPE_IDENTITY();

        SELECT 1 AS SUCCESS, @PR AS REPORTID, N'Plan report submitted' AS MESSAGE;
    END TRY
    BEGIN CATCH
        SELECT 0 AS SUCCESS, CAST(NULL AS BIGINT) AS REPORTID, ERROR_MESSAGE() AS MESSAGE;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_REVIEW_GET_BY_USER_AND_PLAN]    Script Date: 17-07-2026 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[USP_REVIEW_GET_BY_USER_AND_PLAN]
(
    @USERID BIGINT,
    @PLANID BIGINT
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        REVIEWID, USERID, PLANID, PLANVERSION, ENROLLMENTID,
        RATING, TITLE, BODY, VISIBILITYSTATUS,
        SUBMITTEDAFTERCOMPLETE, CREATEDDATE, UPDATEDDATE
    FROM dbo.PLAN_USER_REVIEW
    WHERE USERID = @USERID AND PLANID = @PLANID;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_REVIEW_LIST_BY_PLAN_PUBLIC]    Script Date: 17-07-2026 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[USP_REVIEW_LIST_BY_PLAN_PUBLIC]
(
    @PLANID     BIGINT,
    @PAGESIZE   INT = 20,
    @PAGENUMBER INT = 1
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @OFFSET INT = (@PAGENUMBER - 1) * @PAGESIZE;

    ;WITH Base AS (
        SELECT
            R.REVIEWID, R.USERID, R.RATING, R.TITLE, R.BODY,
            R.PLANVERSION, R.CREATEDDATE, R.UPDATEDDATE
        FROM dbo.PLAN_USER_REVIEW R
        WHERE R.PLANID = @PLANID
          AND R.VISIBILITYSTATUS = N'VISIBLE'
    )
    SELECT
        COUNT(*) OVER() AS TOTALCOUNT,
        REVIEWID, USERID, RATING, TITLE, BODY,
        PLANVERSION, CREATEDDATE, UPDATEDDATE
    FROM Base
    ORDER BY CREATEDDATE DESC
    OFFSET @OFFSET ROWS FETCH NEXT @PAGESIZE ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_REVIEW_LIST_BY_USER]    Script Date: 17-07-2026 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[USP_REVIEW_LIST_BY_USER]
(
    @USERID     BIGINT,
    @PAGESIZE   INT           = 50,
    @PAGENUMBER INT           = 1
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @OFFSET INT = (@PAGENUMBER - 1) * @PAGESIZE;

    ;WITH Base AS (
        SELECT REVIEWID, PLANID, PLANVERSION, ENROLLMENTID, RATING, TITLE,
               VISIBILITYSTATUS, CREATEDDATE, UPDATEDDATE
        FROM dbo.PLAN_USER_REVIEW
        WHERE USERID = @USERID
    )
    SELECT
        COUNT(*) OVER() AS TOTALCOUNT,
        REVIEWID, PLANID, PLANVERSION, ENROLLMENTID, RATING, TITLE,
        VISIBILITYSTATUS, CREATEDDATE, UPDATEDDATE
    FROM Base
    ORDER BY UPDATEDDATE DESC, CREATEDDATE DESC
    OFFSET @OFFSET ROWS FETCH NEXT @PAGESIZE ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_REVIEW_MODERATOR_SET_VISIBILITY]    Script Date: 17-07-2026 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[USP_REVIEW_MODERATOR_SET_VISIBILITY]
(
    @REVIEWID        BIGINT,
    @MODERATORUSERID BIGINT,
    @NEWVISIBILITY   NVARCHAR(30)
)
AS
BEGIN
    SET NOCOUNT ON;

    IF @NEWVISIBILITY NOT IN (N'VISIBLE', N'HIDDEN_ADMIN', N'UNDER_REVIEW', N'REMOVED_BY_USER')
    BEGIN
        SELECT 0 AS SUCCESS, N'Invalid visibility value' AS MESSAGE;
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM dbo.PLAN_USER_REVIEW WHERE REVIEWID = @REVIEWID)
    BEGIN
        SELECT 0 AS SUCCESS, N'Review not found' AS MESSAGE;
        RETURN;
    END

    UPDATE dbo.PLAN_USER_REVIEW
    SET VISIBILITYSTATUS = @NEWVISIBILITY,
        UPDATEDDATE      = SYSUTCDATETIME()
    WHERE REVIEWID = @REVIEWID;

    SELECT 1 AS SUCCESS, @REVIEWID AS REVIEWID,
           N'Visibility updated'
           AS MESSAGE;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_REVIEW_REMOVE_BY_USER]    Script Date: 17-07-2026 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[USP_REVIEW_REMOVE_BY_USER]
(
    @USERID BIGINT,
    @PLANID BIGINT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @REV BIGINT;
    SELECT @REV = REVIEWID
    FROM dbo.PLAN_USER_REVIEW
    WHERE USERID = @USERID AND PLANID = @PLANID;

    IF @REV IS NULL
    BEGIN
        SELECT 0 AS SUCCESS, N'No review found' AS MESSAGE;
        RETURN;
    END

    UPDATE dbo.PLAN_USER_REVIEW
    SET VISIBILITYSTATUS = N'REMOVED_BY_USER',
        UPDATEDDATE      = SYSUTCDATETIME()
    WHERE REVIEWID = @REV;

    SELECT 1 AS SUCCESS, N'Review removed by user' AS MESSAGE;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_REVIEW_REPORT_RESOLVE]    Script Date: 17-07-2026 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[USP_REVIEW_REPORT_RESOLVE]
(
    @REPORTID         BIGINT,
    @MODERATORUSERID BIGINT,
    @NEWSTATUS       NVARCHAR(20),
    @MODERATORNOTE   NVARCHAR(1000) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    IF @NEWSTATUS NOT IN (N'RESOLVED', N'DISMISSED')
    BEGIN
        SELECT 0 AS SUCCESS, N'NEWSTATUS must be RESOLVED or DISMISSED' AS MESSAGE;
        RETURN;
    END

    DECLARE @REVIEW BIGINT;
    SELECT @REVIEW = REVIEWID
    FROM dbo.REVIEW_REPORT
    WHERE REPORTID = @REPORTID;

    IF @REVIEW IS NULL
    BEGIN
        SELECT 0 AS SUCCESS, N'Report not found' AS MESSAGE;
        RETURN;
    END

    UPDATE dbo.REVIEW_REPORT
    SET STATUS           = @NEWSTATUS,
        RESOLVEDDATE     = SYSUTCDATETIME(),
        MODERATORUSERID  = @MODERATORUSERID,
        MODERATORNOTE    = @MODERATORNOTE
    WHERE REPORTID = @REPORTID;

    DECLARE @OPENFLAGS INT;
    SELECT @OPENFLAGS = COUNT(*)
    FROM dbo.REVIEW_REPORT
    WHERE REVIEWID = @REVIEW AND STATUS = N'OPEN';

    DECLARE @REVSTATUS NVARCHAR(30);
    SELECT @REVSTATUS = VISIBILITYSTATUS
    FROM dbo.PLAN_USER_REVIEW
    WHERE REVIEWID = @REVIEW;

    IF @NEWSTATUS = N'RESOLVED'
    BEGIN
        UPDATE dbo.PLAN_USER_REVIEW
        SET VISIBILITYSTATUS = N'HIDDEN_ADMIN',
            UPDATEDDATE      = SYSUTCDATETIME()
        WHERE REVIEWID = @REVIEW;
    END
    ELSE
    BEGIN
        IF @OPENFLAGS = 0 AND @REVSTATUS = N'UNDER_REVIEW'
        BEGIN
            UPDATE dbo.PLAN_USER_REVIEW
            SET VISIBILITYSTATUS = N'VISIBLE',
                UPDATEDDATE      = SYSUTCDATETIME()
            WHERE REVIEWID = @REVIEW;
        END
    END

    SELECT 1 AS SUCCESS, N'Moderator action saved' AS MESSAGE;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_REVIEW_REPORT_SUBMIT]    Script Date: 17-07-2026 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[USP_REVIEW_REPORT_SUBMIT]
(
    @REVIEWID         BIGINT,
    @REPORTEDBYUSERID BIGINT,
    @REASONCODE       NVARCHAR(50),
    @DETAIL           NVARCHAR(2000) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM dbo.PLAN_USER_REVIEW WHERE REVIEWID = @REVIEWID)
        BEGIN
            SELECT 0 AS SUCCESS, CAST(NULL AS BIGINT) AS REPORTID,
                   N'Review does not exist' AS MESSAGE;
            RETURN;
        END

        DECLARE @OWNER BIGINT;
        SELECT @OWNER = USERID FROM dbo.PLAN_USER_REVIEW WHERE REVIEWID = @REVIEWID;

        IF @OWNER = @REPORTEDBYUSERID
        BEGIN
            SELECT 0 AS SUCCESS, CAST(NULL AS BIGINT) AS REPORTID,
                   N'Cannot report your own review' AS MESSAGE;
            RETURN;
        END

        DECLARE @EXISTING BIGINT;
        SELECT @EXISTING = REPORTID
        FROM dbo.REVIEW_REPORT
        WHERE REVIEWID = @REVIEWID
          AND REPORTEDBYUSERID = @REPORTEDBYUSERID
          AND STATUS = N'OPEN';

        IF @EXISTING IS NOT NULL
        BEGIN
            UPDATE dbo.REVIEW_REPORT
            SET REASONCODE  = @REASONCODE,
                DETAIL      = ISNULL(@DETAIL, DETAIL)
            WHERE REPORTID = @EXISTING;

            UPDATE dbo.PLAN_USER_REVIEW
            SET VISIBILITYSTATUS = N'UNDER_REVIEW',
                UPDATEDDATE      = SYSUTCDATETIME()
            WHERE REVIEWID = @REVIEWID
              AND VISIBILITYSTATUS = N'VISIBLE';

            SELECT 1 AS SUCCESS, @EXISTING AS REPORTID,
                   N'Open flag updated for review' AS MESSAGE;
            RETURN;
        END

        INSERT INTO dbo.REVIEW_REPORT
        (REVIEWID, REPORTEDBYUSERID, REASONCODE, DETAIL, STATUS, CREATEDDATE)
        VALUES (@REVIEWID, @REPORTEDBYUSERID, @REASONCODE, @DETAIL,
                N'OPEN', SYSUTCDATETIME());

        DECLARE @RID BIGINT = SCOPE_IDENTITY();

        UPDATE dbo.PLAN_USER_REVIEW
        SET VISIBILITYSTATUS = N'UNDER_REVIEW',
            UPDATEDDATE      = SYSUTCDATETIME()
        WHERE REVIEWID = @REVIEWID
          AND VISIBILITYSTATUS = N'VISIBLE';

        SELECT 1 AS SUCCESS, @RID AS REPORTID, N'Flag submitted' AS MESSAGE;
    END TRY
    BEGIN CATCH
        SELECT 0 AS SUCCESS, CAST(NULL AS BIGINT) AS REPORTID, ERROR_MESSAGE() AS MESSAGE;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_REVIEW_STATS_BY_PLAN]    Script Date: 17-07-2026 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[USP_REVIEW_STATS_BY_PLAN]
(
    @PLANID BIGINT
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        COUNT(*)                                          AS REVIEWCOUNT,
        AVG(CAST(RATING AS DECIMAL(4, 2)))              AS AVGRATING,
        SUM(CASE WHEN RATING >= 5 THEN 1 ELSE 0 END)      AS FIVESTARCOUNT,
        SUM(CASE WHEN RATING <= 2 THEN 1 ELSE 0 END)      AS LOWRATINGCOUNT
    FROM dbo.PLAN_USER_REVIEW
    WHERE PLANID = @PLANID
      AND VISIBILITYSTATUS = N'VISIBLE';
END
GO
/****** Object:  StoredProcedure [dbo].[USP_REVIEW_UPSERT]    Script Date: 17-07-2026 14:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_REVIEW_UPSERT
-- Create or update a learner review (one row per USERID+PLANID).
-- Eligibility (completed enrollment) enforced at API + Enrollment.
-- SCREEN L6 — post-completion rating prompt (FR-043).
-- ============================================================

CREATE   PROCEDURE [dbo].[USP_REVIEW_UPSERT]
(
    @USERID                  BIGINT,
    @PLANID                  BIGINT,
    @PLANVERSION             INT,
    @ENROLLMENTID            BIGINT         = NULL,
    @RATING                  TINYINT,
    @TITLE                   NVARCHAR(200)  = NULL,
    @BODY                    NVARCHAR(4000) = NULL,
    @SUBMITTEDAFTERCOMPLETE  BIT            = 1,
    @ALLOWRESTOREVISIBLE     BIT            = 1
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        IF @RATING < 1 OR @RATING > 5
        BEGIN
            SELECT 0 AS SUCCESS, CAST(NULL AS BIGINT) AS REVIEWID,
                   N'Rating must be between 1 and 5' AS MESSAGE;
            RETURN;
        END

        DECLARE @REVIEWID BIGINT;
        DECLARE @CURVIS   NVARCHAR(30);

        SELECT @REVIEWID = REVIEWID, @CURVIS = VISIBILITYSTATUS
        FROM dbo.PLAN_USER_REVIEW
        WHERE USERID = @USERID AND PLANID = @PLANID;

        DECLARE @NEXTVIS NVARCHAR(30) =
            CASE
                WHEN @REVIEWID IS NULL THEN N'VISIBLE'
                WHEN @CURVIS IN (N'HIDDEN_ADMIN', N'UNDER_REVIEW') AND @ALLOWRESTOREVISIBLE = 1 THEN N'VISIBLE'
                ELSE @CURVIS
            END;

        IF @REVIEWID IS NULL
        BEGIN
            INSERT INTO dbo.PLAN_USER_REVIEW
            (
                USERID, PLANID, PLANVERSION, ENROLLMENTID,
                RATING, TITLE, BODY, VISIBILITYSTATUS,
                SUBMITTEDAFTERCOMPLETE, CREATEDDATE, UPDATEDDATE
            )
            VALUES
            (
                @USERID, @PLANID, @PLANVERSION, @ENROLLMENTID,
                @RATING, @TITLE, @BODY, N'VISIBLE',
                @SUBMITTEDAFTERCOMPLETE, SYSUTCDATETIME(), SYSUTCDATETIME()
            );

            SET @REVIEWID = SCOPE_IDENTITY();

            SELECT 1 AS SUCCESS, @REVIEWID AS REVIEWID, N'Review submitted' AS MESSAGE;
            RETURN;
        END

        UPDATE dbo.PLAN_USER_REVIEW
        SET PLANVERSION            = @PLANVERSION,
            ENROLLMENTID           = ISNULL(@ENROLLMENTID, ENROLLMENTID),
            RATING                 = @RATING,
            TITLE                  = @TITLE,
            BODY                   = @BODY,
            VISIBILITYSTATUS       = @NEXTVIS,
            SUBMITTEDAFTERCOMPLETE =
                CASE WHEN @SUBMITTEDAFTERCOMPLETE = 1 THEN 1 ELSE SUBMITTEDAFTERCOMPLETE END,
            UPDATEDDATE            = SYSUTCDATETIME()
        WHERE REVIEWID = @REVIEWID;

        SELECT 1 AS SUCCESS, @REVIEWID AS REVIEWID, N'Review updated' AS MESSAGE;
    END TRY
    BEGIN CATCH
        SELECT 0 AS SUCCESS, CAST(NULL AS BIGINT) AS REVIEWID, ERROR_MESSAGE() AS MESSAGE;
    END CATCH
END
GO
