USE [REVIEW_SERVICE]
GO
/****** Object:  Table [dbo].[PLAN_CONTENT_REPORT]    Script Date: 17-07-2026 14:56:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAN_CONTENT_REPORT](
	[REPORTID] [bigint] IDENTITY(1,1) NOT NULL,
	[PLANID] [bigint] NOT NULL,
	[REPORTEDBYUSERID] [bigint] NOT NULL,
	[REASONCODE] [nvarchar](50) NOT NULL,
	[DETAIL] [nvarchar](2000) NULL,
	[STATUS] [nvarchar](20) NOT NULL,
	[CREATEDDATE] [datetime2](7) NOT NULL,
	[RESOLVEDDATE] [datetime2](7) NULL,
	[MODERATORUSERID] [bigint] NULL,
	[MODERATORNOTE] [nvarchar](1000) NULL,
 CONSTRAINT [PK_PLAN_CONTENT_REPORT] PRIMARY KEY CLUSTERED 
(
	[REPORTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLAN_USER_REVIEW]    Script Date: 17-07-2026 14:56:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAN_USER_REVIEW](
	[REVIEWID] [bigint] IDENTITY(1,1) NOT NULL,
	[USERID] [bigint] NOT NULL,
	[PLANID] [bigint] NOT NULL,
	[PLANVERSION] [int] NOT NULL,
	[ENROLLMENTID] [bigint] NULL,
	[RATING] [tinyint] NOT NULL,
	[TITLE] [nvarchar](200) NULL,
	[BODY] [nvarchar](4000) NULL,
	[VISIBILITYSTATUS] [nvarchar](30) NOT NULL,
	[SUBMITTEDAFTERCOMPLETE] [bit] NOT NULL,
	[CREATEDDATE] [datetime2](7) NOT NULL,
	[UPDATEDDATE] [datetime2](7) NULL,
 CONSTRAINT [PK_PLAN_USER_REVIEW] PRIMARY KEY CLUSTERED 
(
	[REVIEWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PUR_USER_PLAN] UNIQUE NONCLUSTERED 
(
	[USERID] ASC,
	[PLANID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REVIEW_REPORT]    Script Date: 17-07-2026 14:56:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REVIEW_REPORT](
	[REPORTID] [bigint] IDENTITY(1,1) NOT NULL,
	[REVIEWID] [bigint] NOT NULL,
	[REPORTEDBYUSERID] [bigint] NOT NULL,
	[REASONCODE] [nvarchar](50) NOT NULL,
	[DETAIL] [nvarchar](2000) NULL,
	[STATUS] [nvarchar](20) NOT NULL,
	[CREATEDDATE] [datetime2](7) NOT NULL,
	[RESOLVEDDATE] [datetime2](7) NULL,
	[MODERATORUSERID] [bigint] NULL,
	[MODERATORNOTE] [nvarchar](1000) NULL,
 CONSTRAINT [PK_REVIEW_REPORT] PRIMARY KEY CLUSTERED 
(
	[REPORTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PLAN_CONTENT_REPORT] ADD  CONSTRAINT [DF_PCR_STATUS]  DEFAULT (N'OPEN') FOR [STATUS]
GO
ALTER TABLE [dbo].[PLAN_CONTENT_REPORT] ADD  CONSTRAINT [DF_PCR_CREATED]  DEFAULT (sysutcdatetime()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[PLAN_USER_REVIEW] ADD  CONSTRAINT [DF_PUR_VISIBILITY]  DEFAULT (N'VISIBLE') FOR [VISIBILITYSTATUS]
GO
ALTER TABLE [dbo].[PLAN_USER_REVIEW] ADD  CONSTRAINT [DF_PUR_COMPLETE]  DEFAULT ((1)) FOR [SUBMITTEDAFTERCOMPLETE]
GO
ALTER TABLE [dbo].[PLAN_USER_REVIEW] ADD  CONSTRAINT [DF_PUR_CREATED]  DEFAULT (sysutcdatetime()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[REVIEW_REPORT] ADD  CONSTRAINT [DF_RR_STATUS]  DEFAULT (N'OPEN') FOR [STATUS]
GO
ALTER TABLE [dbo].[REVIEW_REPORT] ADD  CONSTRAINT [DF_RR_CREATED]  DEFAULT (sysutcdatetime()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[REVIEW_REPORT]  WITH CHECK ADD  CONSTRAINT [FK_RR_REVIEW] FOREIGN KEY([REVIEWID])
REFERENCES [dbo].[PLAN_USER_REVIEW] ([REVIEWID])
GO
ALTER TABLE [dbo].[REVIEW_REPORT] CHECK CONSTRAINT [FK_RR_REVIEW]
GO
ALTER TABLE [dbo].[PLAN_CONTENT_REPORT]  WITH CHECK ADD  CONSTRAINT [CHK_PCR_STATUS] CHECK  (([STATUS]=N'DISMISSED' OR [STATUS]=N'RESOLVED' OR [STATUS]=N'OPEN'))
GO
ALTER TABLE [dbo].[PLAN_CONTENT_REPORT] CHECK CONSTRAINT [CHK_PCR_STATUS]
GO
ALTER TABLE [dbo].[PLAN_USER_REVIEW]  WITH CHECK ADD  CONSTRAINT [CHK_PUR_RATING] CHECK  (([RATING]>=(1) AND [RATING]<=(5)))
GO
ALTER TABLE [dbo].[PLAN_USER_REVIEW] CHECK CONSTRAINT [CHK_PUR_RATING]
GO
ALTER TABLE [dbo].[PLAN_USER_REVIEW]  WITH CHECK ADD  CONSTRAINT [CHK_PUR_VISIBILITY] CHECK  (([VISIBILITYSTATUS]=N'REMOVED_BY_USER' OR [VISIBILITYSTATUS]=N'HIDDEN_ADMIN' OR [VISIBILITYSTATUS]=N'UNDER_REVIEW' OR [VISIBILITYSTATUS]=N'VISIBLE'))
GO
ALTER TABLE [dbo].[PLAN_USER_REVIEW] CHECK CONSTRAINT [CHK_PUR_VISIBILITY]
GO
ALTER TABLE [dbo].[REVIEW_REPORT]  WITH CHECK ADD  CONSTRAINT [CHK_RR_STATUS] CHECK  (([STATUS]=N'DISMISSED' OR [STATUS]=N'RESOLVED' OR [STATUS]=N'OPEN'))
GO
ALTER TABLE [dbo].[REVIEW_REPORT] CHECK CONSTRAINT [CHK_RR_STATUS]
GO
